<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--<add name="CanteenSystem.Properties.Settings.CanteenDBConnectionString"
            connectionString="Data Source=rm-bp1543093530m5eq0no.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=CanteenNew;Persist Security Info=True;User ID=pandapyh;Password=Panda1990"
            providerName="System.Data.SqlClient" />-->
      <add name="CanteenSystem.Properties.Settings.CanteenDBConnectionString"
            connectionString="Data Source=PHQ\SQLEXPRESS;Initial Catalog=CanteenDB;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
      <!--<add name="CanteenSystem.Properties.Settings.CanteenDBConnectionString"
            connectionString="Data Source=GXTCN718;Initial Catalog=CanteenDB;Persist Security Info=True;User ID=sa;Password=Gxtcn718"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>