<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CanteenSystem.Model.Properties.Settings.ssss" connectionString="Data Source=rm-bp1543093530m5eq0no.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=CanteenNew;Persist Security Info=True;User ID=pandapyh;Password=Panda1990"
            providerName="System.Data.SqlClient" />
        <add name="CanteenSystem.Model.Properties.Settings.CanteenDBConnectionString"
            connectionString="Data Source=PHQ\SQLEXPRESS;Initial Catalog=CanteenDB;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="CanteenSystem.Model.Properties.Settings.CanteenDBConnectionString1"
            connectionString="Data Source=PHQ\SQLEXPRESS;Initial Catalog=CanteenDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>